<section id='molexMastHead' class='contactMast'>
  <div id='mastHeadText'>
    <h1>Lets Talk</h1>
    <p>If you have a project in mind or would like to find out more about my design expertise, please get in touch and let’s get things moving.</p>
  </div>
</section>

<section id='contactSubMast'>
<h3>Lets Work Together.</h3>
</section>
<!-- FM -->
<section class='contactSeciton grey'>
  <div class='contactContent' >
    <div class='projectInfoLeft projectInfo'>
        <input class='contactInput' ng-model='ML.emailName' type="text" placeholder='Name' autofocus>
        <input class='contactInput' ng-model='ML.emailEmail' type="text" placeholder='E-Mail'>
        <input class='contactInput' ng-model='ML.emailSubject' type="text" placeholder='Subject'>

    </div>
    <div class='projectInfoRight projectInfo'>
      <textarea id='contactTextArea' ng-model='ML.emailMsg' placeholder='Message'></textarea>
    </div>
    <img id='contactSendButton' class='clickable' src="../../assets/contact/contact_send_button.png" ng-click="ML.sendContact()"alt="">
  </div>
</section>

<section id='findOutMoreContainer' ng-init="moreProfileInfo = false">
  <img src="../../assets/home/blackPoint.png" alt="">
    <div id='getStartedContainer'>
    <br>
      <span class='clickable'>
        <a target="_blank" href='https://uk.linkedin.com/in/melissa-lara-71600425'>You can also find me on Linked<img id='linkedInButton' src="../../assets/contact/Contact_linkedin_icon.png"></a>
        </span>
    </div>
</section>


