<section id='molexMastHead' class='uxMast'>
  <div id='mastHeadText' >
    <h1 class='blackText'>User Experiance (UX)<br /> Methods</h1>
    <p class='blackText'>If you have a project in mind or would like to find out more about my design expertise, please get in touch and let’s get things moving.</p>
  </div>
</section>

<section id='contactSubMast'>

<h3>Agile UX Design Methods</h3>
</section>
<!-- FM -->
<section class='contactSeciton grey'>
<img id='greyPoint' src="../../assets/grey-arrow.png" alt="">
  <div class='contactContent' >
    <div class='projectInfoLeft projectInfo'>
        <input class='contactInput' ng-model='ML.emailName' type="text" placeholder='Name' autofocus>
        <input class='contactInput' ng-model='ML.emailEmail' type="text" placeholder='E-Mail'>
        <input class='contactInput' ng-model='ML.emailSubject' type="text" placeholder='Subject'>

    </div>
    <div class='projectInfoRight projectInfo contactTextArea'>
      <textarea id='contactTextArea' ng-model='ML.emailMsg' placeholder='Message'></textarea>
    </div>
    <img id='contactSendButton' class='clickable' src="../../assets/contact/contact_send_button.png" ng-click="ML.sendContact()"alt="">
  </div>
</section>

<section id='findOutMoreContainer' ng-init="moreProfileInfo = false">
  <img id='blackPoint' src="../../assets/black-arrow.png" alt="">

    <div id='getStartedContainer'>
    <br>
      <a target="_blank" href='https://uk.linkedin.com/in/melissa-lara-71600425'><img id='linkedInButton'src="../../assets/linked_in_button.png" class='clickable' alt=""></a>
    </div>
</section>


