#headerLogo {
  height: 35px;
  margin-top: 5px;
  /*padding-left: 200px;*/
}
.navElement {
  padding-left: 3px;
  padding-right: 3px;
}
#navContainer {
  width: 70%;
  position:relative;
  left: 15%;
}
#mastHeadLogo{
  width: 240px;
}
#mastHead {
  background-image: url(../assets/home/profile_background_image.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  height: 500px;
}
#mastHeadText{
  display: block;
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  color: white;
}
#mastHeadText p {
  width: 500px;
  font-weight: 100;
  font-size: 14px;
  opacity: 0.8;
}

#mastHeadText h1 {
  margin-top: 60px;
  color: white;
  font-size: 19px;
  font-weight: 600;
}

#subMastContainer {
  padding-top: 100px;
  /*width: 70%;*/
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  /*height: 600px;*/
}

.oneSubMast, .oneSubMast > *{
  text-align: center;
  vertical-align: top;
  margin: 0 auto;
}
.oneSubMast { 
  width: 300px;
  display: inline-block;
  margin: 0 55px 50px 55px;
}
.oneSubMast img {
  height: 200px;
  width: auto;
  vertical-align: bottom;
  margin-bottom: 30px;
}
.oneSubMast h2 {
  font-weight: 600;
  margin-top: 30px;
  font-size: 24px;
}
.oneSubMast p {
  text-align: left;
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
}
#blackPoint {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -35px;
  width: 40px;
}
#greyPoint {
  display: block;
  position: relative;
  top: -85px;
  margin-left: 10%;
  width: 40px;
}
#findOutMoreContainer {
  width: 100%;
  min-height: 180px;
  margin: 0;
  /*margin-top: -50px;*/
  background-color: black;
}
#findOutMoreContainer img {
  height: 100%;
}

#moreProfileInfo {
  background-color: #ededed;
  display: block;
  width: 100%;
  height: 400px;
}
#moreProfileInfoContent {
  padding: 50px 0 50px 0;
  display: block;
  width: 70%;
  margin: 0 auto;
}
#getStartedContainer{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  /*margin-top: -140px;*/
  /*padding-top: 20px;*/
}
#getStartedContainer span {
  color: white;
  display: block;
  margin-bottom: 20px;
  font-size: 19px;
}

#footer {
  background-image: url(../assets/home/all_footer_background_image.png);
  background-repeat:no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 320px;
  position: relative;
  top: -2px;
}
#footerLogo{
  display: block;
  width: 77px;
  margin: 0 auto;
  position: relative;
  top: 110px;
}

.oneMoreinfo {
  margin-top: 20px;
}

.moreInfoLeft{
  vertical-align: top;
  width: 200px;
  display: inline-block;
  margin: 0 50px 0 50px;
  text-align: right;
  color: #030303;
}

.moreInfoRight{
  width: 600px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
  color: #030303;

}
.moreInfoRight p {
  color: #9b9b9b;
  font-size: 14px;

}
.oneMoreinfo h3 {
  font-size: 15px;
  font-weight: 800;
}
.oneMoreinfo h2 {
  font-size: 20px;
}
.underlineGradient{
  width: 100%;
  height: 1px;
  display: block;
  background: #ededed; /* Old browsers */
  background: -moz-linear-gradient(left,  #ededed 0%, #999999 97%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ededed 0%,#999999 97%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ededed 0%,#999999 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#999999',GradientType=1 ); /* IE6-9 */

}




/*Responsive Design*/


@media only screen and (max-width: 700px) {
  body #workMastHeadText p, body #workMastHeadText h1 {
    width: 100%;
    padding: 5px; 
  }
  body #workMastHeadText {
    padding-top: 0px;
    margin: 5px;
    width: 100%
  }

  #mastHead {
    height: 600px;
  }
  #headerLogo {
    height: 35px;
    margin-top: 5px;
    padding-left: 10px;
  }
  #navContainer {
    left: 0%;
  }
  #mastHeadText{
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
  }
  #mastHeadText p {
    text-align: justify;
    width: 100%;
    font-weight: 100;
    font-size: 14px;
  }
  body #moreProfileInfoContent {
    width: 100%;
  }
  body .oneMoreinfo {
    width: 100%;
  }
  body .oneSubMast { 
  width: 90%;
  display: inline-block;
  margin: 0 0 40px 0 ;
  }
  body .moreInfoRight {
    width: 100%;
  }
  body #moreProfileInfoContent {
    margin: 5px;
  }
  #footer {
    background-image: url(../assets/home/all_footer_background_image.png);
    background-repeat:no-repeat;
    background-position: left;
    width: 100%;
    height: 320px;
  }
}