@font-face {
font-family: Avenir;
src: url("../fonts/avenir.otf") format("opentype");
}

body > *{
  font-family: 'Avenir';
}
body > p {
  font-size: 14px;
}
.active {
  background-color: #a4ffff;
}

.active > a {
  color: black;
}

.inline { display: inline-block; }
.left { float: left; }
.right { float: right; }

.test {
  border: solid red 1px;
}

.blackText {
  color: black;
}
.whiteText {
  color: white;
}

.contactSeciton {
  width: 100%;
  min-height:450px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: -40px;
  padding-bottom: 30px;
}
.contactContent {
    width: 90%;
    /* height: 100%; */
    margin: 0 auto;
}
#contactSubMast{
  width: 70%;
  margin: 0 auto;
  height: 55px;
}
#contactSubMast h3 {
  margin-top: 30px;
  margin-left: 19px;
  color: #8d8d8c;
  font-size: 19px;
}
.contactInput{
  height: 30px;
}
#contactTextArea{
  height: 200px;
  margin-left: -20px;
}
#contactSendButton {
  height: 30px;
  margin-top: 40px; 
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.clickable:hover {
  opacity: 0.8;
  cursor:pointer;
}

.link:hover {
    cursor:pointer;

}
.fixed {
  position: fixed;
}
.blueButton {
  text-align: center;
  vertical-align: center;
  width: 300px;
  margin: 0 auto;
  padding: 5px 20px 5px 20px;
  color: #a4ffff;
  font-size: 15px;
  border: solid #a4ffff 3px;
  border-radius: 50px;
/*  margin-top: -110px;
  top: 70px;*/
  position: relative;
}
.greenButton {
  display: inline-block;
  text-align: center;
  vertical-align: center;
  width: 200px;
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 5px 20px;
  color: #3ae37b;
  font-size: 15px;
  border: solid #3ae37b 3px;
  border-radius: 50px;
}
.purpButton {
  display: inline-block;
  text-align: center;
  vertical-align: center;
  width: 200px;
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 5px 20px;
  color: #c08dfc;
  font-size: 15px;
  border: solid #c08dfc 3px;
  border-radius: 50px;
}

.tg  {border-collapse:collapse;border-spacing:0; background-color: #ededed; border: none;}
.tg td{font-size:14px;font-weight:normal;padding:2px 5px;overflow:hidden;word-break:normal;   color: #9b9b9b;  background-color: #ededed;}
.tg th{font-size:14px;font-weight:normal;padding:2px 5px;overflow:hidden;word-break:normal;   color: #9b9b9b;  background-color: #ededed;}
.tg .tg-yw4l{vertical-align:top}


/*footer styles */
.whiteLine {
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  position: relative;
  top: 190px;
}
#copyrightInfo {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  font-size: 10px;
  width: 200px;
  text-align: center;
  position: relative;
  top: 185px;
}
#linkedInButton{
  height: 40px;
}

.contactTextArea {
  margin-left: 0px;
}
@media only screen and (max-width: 700px) {
 
  #contactTextArea{
  height: 200px;
  margin-left: 0px;
}
}