.uxMast {
    background-image: url(../assets/ux/masterhead_UXMethods.png);
    background-repeat: no-repeat;
    background-position: 0;
    /* background-size: cover; */
    background-origin: initial;
    width: 100%;
    height: 720px;
}


.uxMethodTitle {
  /*margin-top: -40px;*/
}

#greySubMast {
  background-color: #7d7c7c;
  width: 100%;
  margin: 0 auto;
  height: 81px;
  margin-top: -100px;
  padding-top: 1px;

}

.topShadow {
-webkit-box-shadow: 0px -10px 34px -15px rgba(0,0,0,0.46);
-moz-box-shadow: 0px -10px 34px -15px rgba(0,0,0,0.46);
box-shadow: 0px -10px 34px -15px rgba(0,0,0,0.46);
}
.uxTitle {
  font-family: 'Architects Daughter', cursive;
  font-size: 38px;
  opacity: 0.7;
  text-decoration: underline;
}
.cross {
  /*background-image: url(../assets/ux/handmadepaper.png);*/
  background-image: url(../assets/ux/graphy.png);
  background-repeat: repeat;
  padding-bottom: 100px;
}

.greyCross {
  background-image: url(../assets/ux/linedpaper.png);
  background-repeat: repeat;
  padding-bottom: 100px;
}
#greySubMastH1{
  margin: 0 auto;
  margin-top: 30px;
  /* margin-left: 15%; */
  color: white;
  font-size: 19px;
  width: 220px;
  font-weight: 200;
  text-align: center;
}

.doodle {
  width: 250px;
  position: absolute;
}

.doodle-left {
  left: 1%;
}
.doodle-right {
  left: 80%;
}

.uxProjectText {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 110px;
  font-size: 14px;
  width: 70%;
  color: black;
}



#doodle1 {
  height: 200px;
  width: auto;
  left: 90%;
}

#doodle2 {
  width: 170px;
}

#doodle3 {
  width: 170px;
}


#doodle4 {
  width: 170px;
}




@media only screen and (max-width: 800px) {
  
.doodle {
  display: none;
}
}
